body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #fcfbfe;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  gap: 20px;
}

.left-content {
  flex: 1;
  max-width: 500px;
}

.left-content h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.left-content p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {

  background-color: #002060;
  color: white;
  border: none;
  cursor: pointer;
}
.btn-secondary, .btn-primary{
  padding: 12px 20px;
  border-radius: 8px;
}

.btn-secondary {

  background-color: transparent;
  color: #002060;
  border: 2px solid #002060;
  cursor: pointer;
}

.play-icon {
  margin-right: 8px;
}

.right-content {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image img {
  width: 320px;
  border-radius: 12px;
}

.circle-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  border: 4px solid white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.circle-img3{
  width: 130px;
  height: 170px;
  border-radius: 20px;
  object-fit: cover;
  position: absolute;
  border: 4px solid white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.img1 { top: -10px; left: 120px; }
.img2 { top: -40px; right: 20px; }
.img3 { bottom: -10px; left: 80px; }
.img4 { bottom: -40px; right: 20px; }

.background-shapes {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.shape {
  position: absolute;
  border-radius: 0 0 60% 60%;
  opacity: 0.1;
}

.shape1 {
  background: #002060;
  width: 200px;
  height: 200px;
  top: 20%;
  left: 70%;
}

.shape2 {
  background: #1e90ff;
  width: 120px;
  height: 120px;
  top: 60%;
  left: 80%;
}

.shape3 {
  background: #fdb813;
  width: 100px;
  height: 100px;
  bottom: 10%;
  left: 60%;
}
